/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.lsp/
node_modules/
package-lock.json
.lsp/.cache/db.transit.json
node_modules
.shadow-cljs/
*.js
*.js.map
resources/public/js/